@model List<Mandalina.Entities.Menuler>
@{
    ViewBag.Title = "Sayfa Ayarı Listele";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <section class="panel">
        <header class="panel-heading bg-tertiary">
            <div class="panel-actions">
                <a href="#" style="color:white;" class="fa fa-caret-down"></a>
                <a href="#" style="color:white;" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title" style="color:white;">Menü Sayfa Ayarı Listele</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th>Dil</th>
                        <th>Sayfa Adı</th>
                        <th>Sayfa Url</th>
                        <th>Aktif Durumu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.Language.Name</td>
                            <td>@item.Name</td>
                            <td>@item.UrlPath</td>
                            @if (item.IsActiveted == true)
                            {
                                <td><i class="fa fa-check"></i> Aktif</td>
                            }
                            else
                            {
                                <td><i class="fa fa-remove"></i> Pasif</td>
                            }
                        <td>
                            <a href="/Panel/MenusPage/Edit/@item.Id" class="btn btn-info"><i class="fa fa-edit"></i></a>
                            <a onclick="return confirm('Silmek istediğinize eminmisiniz ?')" class="btn btn-danger" href="/Panel/MenusPage/Delete/@item.Id"><i class="fa fa-trash-o"></i></a>
                        </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>