@model IEnumerable<Mandalina.Entities.Languages>

@{
    ViewBag.Title = "Seçenekli Dil Listesi";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <section class="panel">
        <header class="panel-heading bg-tertiary">
            <div class="panel-actions">
                <a href="#" style="color:white;" class="fa fa-caret-down"></a>
                <a href="#" style="color:white;" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title" style="color:white;">Seçenekli Dil Desteği</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Kod</th>
                        <th>Ekleme Tarihi</th>
                        <th>Aktif Durumu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.Name</td>
                            <td>@item.Code</td>
                            <td>@item.CreateDate</td>
                            @if (item.IsActiveted == true)
                            {
                                <td><i class="fa fa-check"></i> Aktif</td>
                            }
                            else
                            {
                                <td><i class="fa fa-remove"></i> Pasif</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>