@model List<Mandalina.Entities.VideoPlayer>
@{
    ViewBag.Title = "Video Oynatıcı Slider";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <section class="panel">
        <header class="panel-heading bg-tertiary">
            <div class="panel-actions">
                <a href="#" style="color:white;" class="fa fa-caret-down"></a>
                <a href="#" style="color:white;" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title" style="color:white;">Resim & Video Oynatıcı Listele</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th>Dil</th>
                        <th>Başlık</th>
                        <th>Sıra</th>
                        <th>Resim & Video</th>
                        <th>Aktif Durumu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.Language.Name</td>
                            <td>@item.Title</td>
                            <td>@item.Rank</td>
                            @if (item.VideUrl.EndsWith(".PNG") || item.VideUrl.EndsWith(".JPG") || item.VideUrl.EndsWith(".JPEG") || item.VideUrl.EndsWith(".GIF") || item.VideUrl.EndsWith(".TIFF") || item.VideUrl.EndsWith(".jpg") || item.VideUrl.EndsWith(".png") || item.VideUrl.EndsWith(".jpeg") || item.VideUrl.EndsWith(".tiff") || item.VideUrl.EndsWith(".gif"))
                            {
                                <td><img src="~/Images/VideoPlayer/@item.VideUrl" width="150" /></td>
                            }
                            else if (item.VideUrl.EndsWith(".avi") || item.VideUrl.EndsWith(".AVI") || item.VideUrl.EndsWith(".mp4") || item.VideUrl.EndsWith(".MP4") || item.VideUrl.EndsWith(".mov") || item.VideUrl.EndsWith(".MOV") || item.VideUrl.EndsWith(".flv") || item.VideUrl.EndsWith(".FLV") || item.VideUrl.EndsWith(".mpg") || item.VideUrl.EndsWith(".MPG"))
                            {
                                <td>
                                    <video width="150" height="150" controls>
                                        <source src="~/Images/VideoPlayer/@item.VideUrl" type="video/mp4">
                                    </video>
                                </td>
                            }
                            @if (item.IsActiveted == true)
                            {
                                <td><i class="fa fa-check"></i> Aktif</td>
                            }
                            else
                            {
                                <td><i class="fa fa-remove"></i> Pasif</td>
                            }
                            <td>
                                <a href="/Panel/VideoPlayersPage/Edit/@item.Id" class="btn btn-info"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>