@model IEnumerable<Mandalina.Entities.VideoPlayer>
@foreach (var item in Model)
{
<div class="bg-container dsn-hero-parallax-img " data-dsn-ajax="img" data-overlay="5">
    @if (item.VideUrl.EndsWith(".PNG") || item.VideUrl.EndsWith(".JPG") || item.VideUrl.EndsWith(".JPEG") || item.VideUrl.EndsWith(".GIF") || item.VideUrl.EndsWith(".TIFF") || item.VideUrl.EndsWith(".jpg") || item.VideUrl.EndsWith(".png") || item.VideUrl.EndsWith(".jpeg") || item.VideUrl.EndsWith(".tiff") || item.VideUrl.EndsWith(".gif"))
    {
        <img class="cover-bg-img"
             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             data-dsn-src="/Images/VideoPlayer/@item.VideUrl"
             data-dsn-srcset="/Images/VideoPlayer/@item.VideUrl" alt="@item.Title">
    }
    else if (item.VideUrl.EndsWith(".avi") || item.VideUrl.EndsWith(".AVI") || item.VideUrl.EndsWith(".mp4") || item.VideUrl.EndsWith(".MP4") || item.VideUrl.EndsWith(".mov") || item.VideUrl.EndsWith(".MOV") || item.VideUrl.EndsWith(".flv") || item.VideUrl.EndsWith(".FLV") || item.VideUrl.EndsWith(".mpg") || item.VideUrl.EndsWith(".MPG"))
    {
        <video class="cover-bg-img" loop autoplay muted controls>
            <source src="~/Images/VideoPlayer/@item.VideUrl" type="video/mp4">
        </video>
    }

</div>

    <div class="container h-100">
        <div class="col-md-8">
            <div class="hero-content align-items-start justify-content-center h-100">

                <h1 class="title">@item.Title</h1>
                <p class="p-larg mt-25 max-w570">
                    @Html.Raw(item.Content)
                </p>
            </div>
        </div>
    </div>
}